/**
 * Classes for showing/hiding website menu
 */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
.menu-close {
  margin: 0;
  height: 0;
  opacity: 0;
  transition: height 0.3s, margin 0.3s;
}

.menu-open {
  margin: 1rem 0;
  opacity: 1;
  transition: 0.3s;
}

@media (min-width: 576px) {
  .menu-open {
    margin: 0;
    height: 0;
  }
}

/**
 * Margin set to calibrate the relation betweent the fixed topbar
 * and the content section so the topbar does not cover
 * the page ( when it's set to top )
 */
.blue {
  color: #4D89D2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: 'Roboto', sans-serif;
}

a,
p,
li {
  font-weight: 300;
  letter-spacing: 0.05rem;
}

h2 {
  font-weight: 300;
}

/*
 * Block: about-section
 */
.about-section {
  /**
     * content-margin mixin sets a magrin between the fixed topbar and the content section
     */
  margin-top: 50px;
  display: flex;
  justify-content: center;
  /* Elements */
}

@media (min-width: 576px) {
  .about-section {
    margin-top: 130px;
  }
}

.about-section__container {
  width: 100%;
  max-width: 1240px;
  display: flex;
  flex-direction: column;
}

.about-section__introduction {
  display: flex;
  flex-direction: column;
  margin: 2rem 1rem 0;
  order: 2;
}

.about-section__introduction p {
  margin-bottom: 2.5rem;
  text-align: justify;
  line-height: 1.2rem;
  letter-spacing: 0.06rem;
}

.about-section__slideshow {
  width: 100%;
  order: 1;
  background-image: url("../../assets/images/large/large_6.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
}

.about-section__offer {
  order: 3;
}

@media screen and (min-width: 900px) {
  .about-section__container {
    flex-direction: row;
    justify-content: space-between;
  }
  .about-section__introduction {
    width: 330px;
    min-width: 330px;
    margin: 0 1rem 0;
    order: 1;
  }
  .about-section__slideshow {
    order: 2;
    width: 60%;
    margin-right: 1rem;
  }
}

/* small size screens */
p,
a {
  font-size: 0.9rem;
}

/**
 * Block: footer
 */
.footer {
  padding: 2rem 0;
  /* Elements */
}

.footer__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1240px;
}

.footer__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1.8rem 0 1.8rem 0rem;
  padding-left: 1rem;
}

.footer__content {
  margin-top: 0.8rem;
}

.footer__header {
  width: 5rem;
}

.footer__header h1 {
  font-weight: 300;
  font-size: 1rem;
  color: #4D89D2;
}

.footer__header--title h1 {
  color: #333;
}

/* medium and large size screens */
@media (min-width: 865px) {
  .footer {
    display: flex;
    justify-content: center;
  }
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  .footer__item {
    width: 33.333%;
    margin: 4.2rem 0rem;
    justify-content: center;
  }
  .footer__header {
    width: 100%;
  }
}

/**
 * Block: header
 * Elements: logo and button for toggling menu
 */
.header {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  z-index: 1;
  position: relative;
  align-items: center;
  background-color: #fff;
  /* Elements */
}

.header__logo {
  display: flex;
  align-self: center;
  color: #4D89D2;
  font-size: 2rem;
  font-weight: 300;
}

.header__logo--thin {
  font-weight: 100;
}

.header__toggle {
  display: flex;
  align-self: center;
}

/* medium size screens */
@media (min-width: 576px) {
  .header__logo {
    font-size: 2.05rem;
  }
  .header__toggle {
    display: none;
  }
}

/* big size screens */
@media (min-width: 690px) {
  .header__logo {
    font-size: 2.8rem;
  }
}

.projects {
  /**
     * content-margin mixin sets a magrin between the fixed topbar and the content section
     */
  margin-top: 50px;
  max-width: 1240px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .projects {
    margin-top: 130px;
  }
}

.projects .projects__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.projects .projects__container .item_1 {
  background-image: url("../../assets/images/thumbnails/thumb_1.jpg");
}

.projects .projects__container .item_2 {
  background-image: url("../../assets/images/thumbnails/thumb_2.jpg");
}

.projects .projects__container .item_3 {
  background-image: url("../../assets/images/thumbnails/thumb_3.jpg");
}

.projects .projects__container .item_4 {
  background-image: url("../../assets/images/thumbnails/thumb_4.jpg");
}

.projects .projects__container .item_5 {
  background-image: url("../../assets/images/thumbnails/thumb_5.jpg");
}

.projects .projects__container .item_6 {
  background-image: url("../../assets/images/thumbnails/thumb_6.jpg");
}

.projects .projects__container .item_7 {
  background-image: url("../../assets/images/thumbnails/thumb_7.jpg");
}

.projects .projects__container .item_8 {
  background-image: url("../../assets/images/thumbnails/thumb_8.jpg");
}

.projects .projects__container .item_9 {
  background-image: url("../../assets/images/thumbnails/thumb_9.jpg");
}

.projects .projects__container .item_10 {
  background-image: url("../../assets/images/thumbnails/thumb_10.jpg");
}

.projects .projects__container .item_11 {
  background-image: url("../../assets/images/thumbnails/thumb_11.jpg");
}

.projects .projects__container .item_12 {
  background-image: url("../../assets/images/thumbnails/thumb_12.jpg");
}

.projects .projects__container .item_13 {
  background-image: url("../../assets/images/thumbnails/thumb_13.jpg");
}

.projects .projects__container .item_14 {
  background-image: url("../../assets/images/thumbnails/thumb_14.jpg");
}

.projects .projects__container .item_15 {
  background-image: url("../../assets/images/thumbnails/thumb_15.jpg");
}

@media screen and (min-width: 576px) {
  .projects .projects__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 1px;
  }
  .projects .projects__container .projects__item {
    width: 50%;
    border: 2px solid #fff;
  }
}

@media screen and (min-width: 768px) {
  .projects .projects__container .projects__item {
    width: 33.33%;
  }
}

@media screen and (min-width: 1100px) {
  .projects .projects__container .projects__item {
    width: 25%;
  }
}

/* small size screens */
/**
 * Block: topbar
 * Elements: container and menu
 */
.topbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  z-index: 4;
  display: flex;
  justify-content: center;
  /* Elements */
}

.topbar__container {
  width: 100%;
  height: 100%;
  max-width: 1240px;
  display: flex;
  flex-direction: column;
}

.topbar__menu {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  z-index: 0;
  position: relative;
  text-align: center;
}

.topbar__menu-item {
  font-size: 1rem;
  text-decoration: none;
  color: #333;
  transition: color 0.2s ease-in-out;
}

.topbar__menu-item:hover {
  color: #a2a2a2;
}

/* medium size screens */
@media (min-width: 576px) {
  .topbar__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .topbar__menu {
    width: 100%;
    transition: none;
    opacity: 1;
    visibility: visible;
    padding: 2rem 1rem;
  }
}

/* big size screens */
@media (min-width: 690px) {
  .topbar__menu {
    width: 50%;
  }
}

/**
 * Block: gallery-template
 */
.gallery-template {
  display: flex;
  justify-content: center;
  /* Elements */
}

.gallery-template__content {
  max-width: 1240px;
  height: 100%;
  padding: 2rem;
}

.gallery-template__info {
  line-height: 1.3rem;
}

.gallery-template__info h1 {
  font-weight: 300;
}

.gallery-template__description {
  text-align: justify;
}

.gallery-template__images {
  margin-top: 1.3rem;
  width: 100%;
}

.gallery-template__image-item {
  border-top: 0.5rem solid #fff;
  border-bottom: 0.5rem solid #fff;
}

.gallery-template__image-item img {
  width: 100%;
}

@media (min-width: 1000px) {
  .gallery-template__content {
    display: flex;
    justify-content: space-between;
  }
  .gallery-template__info {
    width: 30%;
  }
  .gallery-template__images {
    width: 65%;
  }
}

/**
 * Block: info-data 
 */
.info-data {
  margin: 1.3rem 0;
  /* Elements */
}

.info-data__label {
  color: #4D89D2;
  font-style: italic;
  display: inline-block;
  width: 6.5rem;
}

.projects__item {
  width: 100%;
  height: 250px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.projects__item .projects__item__overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  text-align: center;
  transition: all 0.2s ease-in-out 0s;
}

.projects__item .projects__item__overlay p {
  font-size: 1rem;
  color: #fff;
}

.projects__item .projects__item__overlay .projects__item__overlay__title {
  margin-bottom: 0.5rem;
}

.projects__item .projects__item__overlay:hover {
  opacity: 1;
  cursor: pointer;
}

.header__toggle {
  width: 25px;
  height: 21px;
  border: 0;
  border-radius: 0;
  border-top: 3px solid #333;
  background: transparent;
  position: relative;
}

.header__toggle::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 3px solid #333;
  transform: translateY(6px);
}

.header__toggle::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 3px solid #333;
  transform: translateY(15px);
}

.header__toggle:focus {
  outline: 0;
}

.header__toggle:hover {
  cursor: pointer;
}
