/*
 * Block: about-section
 */

.about-section {
    /**
     * content-margin mixin sets a magrin between the fixed topbar and the content section
     */
    @include content-margin;
    display: flex;
    justify-content: center;
    /* Elements */
    &__container {
        width: 100%;
        max-width: $max-width;
        display: flex;
        flex-direction: column;
    }
    &__introduction {
        display: flex;
        flex-direction: column;
        margin: 2rem 1rem 0;
        order: 2;
        p {
            margin-bottom: 2.5rem;
            text-align: justify;
            line-height: 1.2rem;
            letter-spacing: 0.06rem;
        }
    }
    &__slideshow {
        width: 100%;
        order: 1;
        background-image: url('../../assets/images/large/large_6.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 500px;
    }
    &__offer {
        order: 3;
    }
}

@media screen and (min-width: 900px) {
    .about-section {
        &__container {
            flex-direction: row;
            justify-content: space-between;
        }
        &__introduction {
            width: 330px;
            min-width: 330px;
            margin: 0 1rem 0;
            order: 1;
        }
        &__slideshow {
            order: 2;
            width: 60%;
            margin-right: 1rem;
        }
    }
}