/* small size screens */

p,
a {
    font-size: 0.9rem;
}


/**
 * Block: footer
 */

.footer {
    padding: 2rem 0;
    /* Elements */
    &__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: $max-width;
    }
    &__item {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 1.8rem 0 1.8rem 0rem;
        padding-left: 1rem;
    }
    &__content {
        margin-top: 0.8rem;
    }
    &__header {
        width: 5rem;
        h1 {
            font-weight: 300;
            font-size: 1rem;
            color: $blue;
        }
    }
    &__header--title {
        h1 {
            color: #333;
        }
    }
}

/* medium and large size screens */

@media (min-width: 865px) {
    .footer {
        display: flex;
        justify-content: center;
        &__container {
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
        }
        &__item {
            width: 33.333%;
            margin: 4.2rem 0rem;
            justify-content: center;
        }
        &__header {
            width: 100%;
        }
    }
}