/**
 * Block: header
 * Elements: logo and button for toggling menu
 */

.header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    z-index: 1;
    position: relative;
    align-items: center;
    background-color: #fff;
    /* Elements */
    &__logo {
        display: flex;
        align-self: center;
        color: $blue;
        font-size: 2rem;
        font-weight: 300;
        &--thin {
            font-weight: 100;
        }
    }
    &__toggle {
        display: flex;
        align-self: center;
    }
}


/* medium size screens */

@media (min-width: 576px) {
    .header {
        &__logo {
            font-size: 2.05rem;
        }
        &__toggle {
            display: none;
        }
    }
}


/* big size screens */

@media (min-width: 690px) {
    .header {
        &__logo {
            font-size: 2.8rem;
        }
    }
}