.projects {
    /**
     * content-margin mixin sets a magrin between the fixed topbar and the content section
     */
    @include content-margin;
    max-width: $max-width;
    margin: 0 auto;
    .projects__container {
        display: flex;
        justify-content: center;
        flex-direction: column; // loop for gallery background images
        @for $i from 1 through 15 {
            .item_#{$i} {
                background-image: url('../../assets/images/thumbnails/thumb_#{$i}.jpg');
            }
        }
    }
}

// tablet vieport
@media screen and (min-width: 576px) {
    .projects {
        .projects__container {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            margin: 1px;
            .projects__item {
                width: 50%;
                border: 2px solid #fff;
            }
        }
    }
}

// desktop small 
@media screen and (min-width: 768px) {
    .projects {
        .projects__container {
            .projects__item {
                width: 33.33%;
            }
        }
    }
}

// desktop small 
@media screen and (min-width: 1100px) {
    .projects {
        .projects__container {
            .projects__item {
                width: 25%;
            }
        }
    }
}