/* small size screens */


/**
 * Block: topbar
 * Elements: container and menu
 */

.topbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    z-index: 4;
    display: flex;
    justify-content: center;
    /* Elements */
    &__container {
        width: 100%;
        height: 100%;
        max-width: $max-width;
        display: flex;
        flex-direction: column;
    }
    &__menu {
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
        z-index: 0;
        position: relative;
        text-align: center;
        &-item {
            font-size: 1rem;
            text-decoration: none;
            color: #333;
            transition: color 0.2s ease-in-out;
            &:hover {
                color: #a2a2a2;
            }
        }
    }
}


/* medium size screens */

@media (min-width: 576px) {
    .topbar {
        &__container {
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }
        &__menu {
            width: 100%;
            transition: none;
            opacity: 1;
            visibility: visible;
            padding: 2rem 1rem;
        }
    }
}


/* big size screens */

@media (min-width: 690px) {
    .topbar {
        &__menu {
            width: 50%;
        }
    }
}