/**
 * Classes for showing/hiding website menu
 */

.menu-close {
    margin: 0;
    height: 0;
    opacity: 0;
    transition: height 0.3s, margin 0.3s;
}

.menu-open {
    margin: 1rem 0;
    opacity: 1;
    transition: 0.3s;
    @media (min-width: 576px) {
        margin: 0;
        height: 0;
    }
}