/**
 * Margin set to calibrate the relation betweent the fixed topbar
 * and the content section so the topbar does not cover
 * the page ( when it's set to top )
 */
@mixin content-margin {
    margin-top: 50px;
    @media (min-width: 576px) {
        margin-top: 130px;
    }
}