/**
 * Block: gallery-template
 */
.gallery-template {
    display: flex;
    justify-content: center;

    /* Elements */
    &__content {
        max-width: $max-width;
        height: 100%;
        padding: 2rem;
    }
    &__info {
        line-height: 1.3rem;
        h1 {
            font-weight: 300;
        }
    }
    &__description {
        text-align: justify;
    }
    &__images {
        margin-top: 1.3rem;
        width: 100%;
    }
    &__image-item {
        border-top: 0.5rem solid #fff;
        border-bottom: 0.5rem solid #fff;
        img {
            width: 100%;
        }
    }
}

@media (min-width: 1000px) {
    .gallery-template {
        &__content {
            display: flex;
            justify-content: space-between;
        }
        &__info {
            width: 30%;
        }
        &__images {
            width: 65%;
        }
    }
}