/**
 * Block: info-data 
 */
.info-data {
    margin: 1.3rem 0;

    /* Elements */
    &__label {
        color: $blue;
        font-style: italic;
        display: inline-block;
        width: 6.5rem;
    }
}