.projects__item {
    width: 100%;
    height: 250px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .projects__item__overlay {
        background: rgba(0, 0, 0, 0.5);
        height: 100%;
        width: 100%;
        opacity: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        text-align: center;
        p {
            font-size: 1rem;
            color: #fff;
        }
        .projects__item__overlay__title {
            margin-bottom: 0.5rem;
        }
        transition: all 0.2s ease-in-out 0s;
        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }
}