.header__toggle {
    width: 25px;
    height: 21px;
    border: 0;
    border-radius: 0;
    border-top: 3px solid #333;
    background: transparent;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 3px solid #333;
        transform: translateY(6px);
    }
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 3px solid #333;
        transform: translateY(15px);
    }
    &:focus {
        outline: 0;
    }
    &:hover {
        cursor: pointer;
    }
}