@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
.blue {
    color: $blue;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Roboto', sans-serif;
}

a,
p,
li {
    font-weight: 300;
    letter-spacing: 0.05rem;
}

h2 {
    font-weight: 300;
}